<div class="container-fluid w-100 text-center mt-5 px-5">
  <div class="header py-5 ">
    <h1>Your Results!</h1><br>
    <h2><%= @result %></h2>
  </div>
</div>

<div class="text-center mt-5">
    <button class="button text-center"><%= link_to 'Fancy another round?', '/new'%></button>
</div>
